.App {
  /* text-align: center; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./media/appbg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}
::-webkit-scrollbar{
  display: none;
}
.homepage{
  max-width: 1280px;
}

@media screen and (min-width:1290px) and (max-width:1500px) {
  .homepage{
    max-width: 1440px;
  }
}